* {
    margin: 0;
    /* padding: 0; */
}

body {
    background-color: skyblue;
}

.login {
    margin-top: 100px;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 1px #444;
    text-align: center;
    
}

.login-box {
    width: 400px;
    height: 220px;
    margin: 50px auto;
    border: 2px solid #444;
    border-radius: 10px;
    background-color: #fff;
}

.mar {
    margin-top: 50px;
}

label, input {
    display: inline-block;
}

input {
    width: 200px;
    height: 24px;
    border: 2px solid rgb(8, 127, 173);
    border-radius: 5px;
    margin-top: 20px; 
    margin-left: 10px;
}

label {
    margin-left: 44px;
    font-weight: bold;
    font-size: 18px;
}

input::placeholder{
    padding: 5px;
    font-weight: bold;
}

button {
    display: block;
    margin: 40px auto;
    padding: 8px;
    border: 2px solid #444;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    background-color: skyblue;
}

/* =========================== */

nav {
    background-color:rgba(62, 188, 238, 0.541);
    Position: sticky;
    top : 0;
}

header {
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(14, 59, 80, 0.459),rgba(14, 59, 80, 0.459)),url(./assets/sb-blog-programming.jpg);
    background-size: cover;
}


.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#fff;
    /* width: 400px; */
    font-size: 50px;
}

.logo-text {
    display: inline-block;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 25px;
    margin-right: 60px;
}

.main-nav li {
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    color: #fff;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}

h2, h4, a {
    color: rgb(7, 95, 184);
}

#summery, #experience, #skills, #projects {
    border: 2px solid gray;
    width: 84%;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
}

#summery h2 {
    margin: 20px 0 20px;
    text-align: center;
}

#summery p {
    padding: 0px 40px;
}

#experience h2 {
    margin: 20px 0 20px;
    text-align: center;
}

#experience h4 {
    text-align: left;
    padding-left: 40px;
    margin-bottom: 10px;
}

#experience ul {
    margin-left: 20px;
    margin-right: 40px;
}

#skills h2 {
    margin: 20px 0 20px;
    text-align: center;
}

#skills p {
    padding: 0px 40px;
}

#projects h2 {
    margin-top: 20px;
    text-align: center;
}

#projects p {
    padding: 0px 40px;
    margin-top: 10px;
}

#projects h4 {
    margin-top: 40px;
    padding: 0px 40px;
}
